@import "../../../../static/styles/_variables";
.textAreaContainer{
  display:inline-block;
  width: 100%;

  &.denoteError{
    //change form field border to red when failing validation
    .textarea {
      box-shadow: 0 0 0 5px red;
    }
  }
}
.label{
  font-size: 12px;
  margin: 0px 0px -5px 12px;
  display: block;
}
.textarea{
  font-family: Consolas, Menlo, Courier, "Lucida Console", Monaco,  monospace;
  font-size:14px;
  outline:none;
  box-shadow: 0 0 0 5px $midGrey;
  border: 1px solid $midGrey;
  margin: 12px 12px 8px 12px;
  border-radius:3px;
  box-sizing: border-box;
  width: calc(100% - 24px);
}
.textarea:focus {
  box-shadow: 0 0 0 5px $primaryColour;
}
.errorMessage{
  position: absolute;
  bottom: -22px;
  right: 0;
  z-index: 1000;
  margin: -7px 14px 6px 14px;
  padding: 3px 6px;
  background: red;
  font-size: 12px;
  line-height: 17px;
  color: white;
  border-radius: 0 0 4px 4px;
  text-align: right;
}
