@import "../../../static/styles/variables";

.buttonContainer{
  display: inline-block;
  width: 100%;
}
.label{
  font-size:12px;
  margin: 0px 0px -5px 12px;
  display: block;
}
.buttonStyles{
  min-height:35px;
  min-width: 70px;
  border-radius: 4px;
  border: 1px solid $midGrey;
  font-family:$MainFontBold;
  font-size:15px;
  box-shadow: 0 0 0 5px $midGrey;
  margin:12px 5px;
  background: $midGrey;
  color:white;
  cursor:pointer;
  outline:none;

  &:hover{
    background: $primaryColour;
    box-shadow: 0 0 0 5px $primaryColour;
    border: 1px solid $primaryColour;
    color:black;
  }
  &:active{
    background: $primaryColourLighter;
    box-shadow: 0 0 0 5px $primaryColourLighter;
    border: 1px solid $primaryColourLighter;
  }
  &.fullWidthButton{
    width: calc(100% - 10px);
  }
}
.buttonIcon{
  display: inline-block;
  transform: scale(2);
  margin: 0 12px 0 2px;
}
.errorMessage{
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: -7px 14px 6px 14px;
  padding: 3px 6px;
  background: red;
  font-size: 12px;
  line-height: 17px;
  color: white;
  border-radius: 0 0 4px 4px;
}
