
$primaryColourLighter: rgb(255, 215, 38);
$primaryColour: orange;
$primaryColourDarker: rgb(204, 126, 0);

$secondaryColour:#ffffff;

$darkGrey: #333333;
$midGrey: #696969;
$lighterMidGrey: #8a8a8a;
$lightGrey: #BCBDC0;
$lighterGrey: #DFE0E3;
$lightestGrey: #EDEEF1;

$whiteGrey: #f5f6f9;

$MainFontLight: "AvertaLight", Helvetica, Arial, sans-serif;
$MainFontRegular: "AvertaRegular", Helvetica, Arial, sans-serif;
$MainFontBold: "AvertaBold", Helvetica, Arial, sans-serif;
$MainFontExtraBold: "AvertaExtraBold", Helvetica, Arial, sans-serif;

$hasError: #D50000;
