.row{
  width:100%;
  position: relative;
}
.col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3, .col2, .col1{
  display:inline-block;
  position: relative;
  vertical-align: top;
}

.col12 {
  width: 100%;
}

.col11 {
  width: 91.66%;
}

.col10 {
  width: 83.33%;
}

.col9 {
  width: 75%;
}

.col8 {
  width: 66.66%;
}

.col7 {
  width: 58.33%;
}

.col6 {
  width: 50%;
}

.col5 {
  width: 41.66%;
}

.col4 {
  width: 33.33%;
}

.col3 {
  width: 25%;
}

.col2 {
  width: 16.66%;
}

.col1 {
  width: 8.333%;
}

.indent11 {
  margin-left: 91.66%;
}

.indent10 {
  margin-left: 83.33%;
}

.indent9 {
  margin-left: 75%;
}

.indent8 {
  margin-left: 66.66%;
}

.indent7 {
  margin-left: 58.33%;
}

.indent6 {
  margin-left: 50%;
}

.indent5 {
  margin-left: 41.66%;
}

.indent4 {
  margin-left: 33.33%;
}

.indent3 {
  margin-left: 25%;
}

.indent2 {
  margin-left: 16.66%;
}

.indent1 {
  margin-left: 8.333%;
}

.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}



/* Media Queries */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3, .col2, .col1{
    width:100%;
  }
  .indent1, .indent2, .indent3, .indent4, .indent5, .indent6, .indent7, .indent8, .indent9, .indent10, .indent11, {
    margin-left: 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3, .col2, .col1{
    width:100%;
  }
  .indent1, .indent2, .indent3, .indent4, .indent5, .indent6, .indent7, .indent8, .indent9, .indent10, .indent11, {
    margin-left: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
