@import 'variables';

// IMPORTANT
// All libraries imported from this stylesheet will not be transformed
// as they are with css-modules. This enables you to use out of the box
// css libraries without the pain of manually modifying classnames in your
// js or css files.
//
// STRONGLY RECOMMENDED LIBRARIES (uncomment to include)
// (seriously, if this app is going in a browser, you want this)
// - normalize. modern HTML5 equivelent of reset.css.
@import './normalize.css';
//
// SUGGESTED LIBRARIES (uncomment to include)
// -Ionicons
@import './ionicons/ionicons.scss';
// - Font-awesome Icons
@import './font-awesome/font-awesome.scss';
//
// -animations & transitions
//@import './animate/animate.css';


body {
  height: 100vh;
  padding:0;
  margin:0;
  box-sizing: border-box;
  overflow:hidden;

}
#app {
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

