@import 'variables';

/* FONT INCLUDES */
@font-face {
  font-family: 'AvertaLight';
  src: url('../fonts/Averta-Light.eot');
  src: url('../fonts/Averta-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Averta-Light.woff') format('woff'),
  url('../fonts/Averta-Light.ttf') format('truetype'),
  url('../fonts/Averta-Light.svg#Averta-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaRegular';
  src: url('../fonts/Averta-Regular.eot');
  src: url('../fonts/Averta-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Averta-Regular.woff') format('woff'),
  url('../fonts/Averta-Regular.ttf') format('truetype'),
  url('../fonts/Averta-Regular.svg#Averta-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaBold';
  src: url('../fonts/Averta-Bold.eot');
  src: url('../fonts/Averta-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Averta-Bold.woff') format('woff'),
  url('../fonts/Averta-Bold.ttf') format('truetype'),
  url('../fonts/Averta-Bold.svg#Averta-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvertaExtraBold';
  src: url('../fonts/Averta-ExtraBold.eot');
  src: url('../fonts/Averta-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Averta-ExtraBold.woff') format('woff'),
  url('../fonts/Averta-ExtraBold.ttf') format('truetype'),
  url('../fonts/Averta-ExtraBold.svg#Averta-Bold') format('svg');
  font-weight: 900;
  font-style: normal;
}

/* -=-=-= Typography Styles =-=-=-*/

h1, h2, h3, h4, h5, h6{
  font-family:$MainFontBold;
  width:100%;
  line-height: 125%;
  margin:0;
  padding:0;
}
h1{
  font-size:72px;
  letter-spacing: -5px;
}
h2{
  font-size:64px;
  letter-spacing: -4px;
}
h3{
  font-size:48px;
  letter-spacing: -3px;
}
h4{
  font-size:38px;
  letter-spacing: -2px;
}
h5{
  font-size:32px;
  letter-spacing: -1px;
}
h6{
  font-size:28px;
  letter-spacing: -1px;
}

b,
.bold,
strong{
  font-family:$MainFontExtraBold;
  font-weight:900;
  letter-spacing: 0;
}
.light{
  font-family:$MainFontLight !important;
  font-weight:200 !important;
  letter-spacing: 0 !important;
}
.regular{
  font-family:$MainFontRegular;
  font-weight:500;
  letter-spacing: 0;
}
em,
i,
.italics{
  font-style: italic;
}
.code{
  font-family: "Lucida Console", Monaco, Courier, 'New Courier', monospace;
  font-size: 14px;
  border: 2px solid #dedede;
  padding: 4px 4px 2px 4px;
  border-radius: 3px;
  background: #f9f9f9;
  color: #606060;
}

body, p{
  font-family: $MainFontRegular;
  color: #1a1a1a;
  font-size:17px;
}
p, label {
  line-height: 125%;
}
p{
  margin: 16px 0;
  padding: 0;
  line-height: 150%;
  font-size:20px;
}
sup, sub{
  font-size: 60%;
}
hr{
  margin: 16px 0 8px 0;
}


/* -=-=-= Lists Styles =-=-=-*/




/* Media Queries */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  body, p{
    font-size:17px;
  }
  h1{
    font-size:54px;
    letter-spacing: -5px;
  }
  h2{
    font-size:48px;
    letter-spacing: -4px;
  }
  h3{
    font-size:38px;
    letter-spacing: -3px;
  }
  h4{
    font-size:32px;
    letter-spacing: -2px;
  }
  h5{
    font-size:26px;
    letter-spacing: -1px;
  }
  h6{
    font-size:21px;
    letter-spacing: -1px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  body, p{
    font-size:14px;
  }
  h1{
    font-size:48px;
    letter-spacing: -5px;
  }
  h2{
    font-size:38px;
    letter-spacing: -4px;
  }
  h3{
    font-size:32px;
    letter-spacing: -3px;
  }
  h4{
    font-size:26px;
    letter-spacing: -2px;
  }
  h5{
    font-size:21px;
    letter-spacing: -1px;
  }
  h6{
    font-size:18px;
    letter-spacing: -1px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  body, p{
    font-size:12px;
  }
  h1{
    font-size:38px;
    letter-spacing: -5px;
  }
  h2{
    font-size:32px;
    letter-spacing: -4px;
  }
  h3{
    font-size:26px;
    letter-spacing: -3px;
  }
  h4{
    font-size:21px;
    letter-spacing: -2px;
  }
  h5{
    font-size:18px;
    letter-spacing: -1px;
  }
  h6{
    font-size:16px;
    letter-spacing: -1px;
  }
}
