.pageContainer{
  position: relative;
  height:100%;
  display: grid;
  grid:
    ' details deps devdeps '
    ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding:0px;
  box-sizing: border-box;

  background: black;
}
.detailsSection{
  position: relative;
  grid-area: details;
  background:orange;
  margin:0;
  padding:0px 15px;
  > h1 {
    margin-top:15px;
    font-size: 65px;
    padding-bottom:15px;
    border-bottom: 5px solid black;

    > span {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      color: orange;
      text-align: center;
      z-index: 20;
      margin-right: 10px;
      font-size: 80px;
      line-height: 100px;
      transform:scale(0.7);

      &:after{
        display: inline-block;
        content:'';
        position: absolute;
        top:6px;
        left:6px;
        bottom:6px;
        right:6px;
        background:black;
        z-index: -1;
        transform:rotate(45deg);
        // width:100%;
        // height:100%;
      }
    }
  }
  > p {
    //border-top: 5px solid black;
    padding:15px 15px 0 15px;
    margin:15px;
  }
}
.depSection{
  position: relative;
  grid-area: deps;
  background:white;
  margin:0;
}
.devDepSection{
  position: relative;
  grid-area: devdeps;
  background:white;
  margin:0;
  overflow: hidden;
}
        

.depSection > h6,
.devDepSection > h6{
  padding:5px;
  font-size:30px;
  background:orange;
  width:auto;
}

.depSection > p,
.devDepSection > p{
  margin:0;
  padding:0 5px;
  font-size:14px;
  background:rgb(85, 85, 85);
  color:white;
  width:auto;
}

.depSection > div,
.devDepSection > div{
  display: block;
  position: absolute;
  top:68px;
  right:0;
  bottom:0;
  left:0;
  overflow:hidden;
  overflow-y:auto;

}
.depSection > div > table,
.devDepSection > div > table{
  //table-layout: fixed;
  position: relative;
  width: calc(100% - 20px);
  height:auto;
  margin:10px;
  // table-layout: fixed;

  > tbody,
  > thead{
    width:100%;
  }
}