@import "../../../../static/styles/variables";

.label{
  font-size:12px;
  margin: 0px 0px -5px 12px;
  display: block;
}

.field{
  height:40px;
}
.inputContainer{
  position: relative;

  &.denoteError{
    //change form field border to red when failing validation
    .formTextInput {
      box-shadow: 0 0 0 5px red;
    }
  }
}
.formTextInput {
  border-radius: 4px;
  border: 1px solid $midGrey;
  height:35px;
  padding-left:8px;
  font-size:15px;
  font-family:$MainFontRegular;
  outline:none;
  box-shadow: 0 0 0 5px $midGrey;
  margin: 12px;
  width: calc(100% - 24px);
  box-sizing: border-box;
  position: relative;
}

.formTextInput:focus {
  box-shadow: 0 0 0 5px $primaryColour;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity:0.2;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    opacity:0.2;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    opacity:0.2;
  }
  &:-moz-placeholder { /* Firefox 18- */
    opacity:0.2;
  }
}
.errorMessage{
  position: absolute;
  top: 71px;
  right: 0;
  z-index: 1000;
  margin: -7px 14px 6px 14px;
  padding: 3px 6px;
  background: red;
  font-size: 12px;
  line-height: 17px;
  color: white;
  border-radius: 0 0 4px 4px;
  text-align: right;
}

