
// navMenu.jsx
.navMenu{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  padding: 0 2.5px;
  margin:0;

}

//navMenuItem.jsx
.navMenuItem{
  list-style-type: none;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin:0;
  padding:5px 2.5px;
}

// Linky <a>
.navLink{
  position: relative;
  display: inline-block;
  height: 100%;
  width:100%;
  text-decoration: none;
  text-transform: uppercase;

  background: black;

  &:hover{
    color:white;
    text-decoration: underline;
    background:rgb(44, 44, 44);
  }
}

// Linky <a> with active class
.navLinkActive{
  composes: navLink;
  background:orange;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px black;

  &:hover{
    text-decoration: underline;
    background:orange;
  }
  
  .navIcon{ 
    background:black;
    color:white;
  }
  .navLabel{ 
    text-decoration: underline;
  }
}


.navIcon{  
  display: inline-block;
  height:22px;
  width:22px;
  text-align: center;
  margin:4px;
  font-size: 18px;
  line-height: 22px;
  background:orange;
}

.navLabel{
  font-size: 20px;
  color:white;
}