.dependancyList{
  position: relative;
  width:520px;
}

.dependancy{
  // position: relative;
  // width: 100%;
  // height:30px;
  // margin:0;
  // list-style-type: none;
}
.dependancyNameCell{

}
.dependancyVersionCell{
  min-width:100px;
}

.name{
  // display: inline-block;
  // position: absolute;
  // top:0;
  // left:0;
  // bottom:0;
  // right:100px;
  // padding:4px 4px 4px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.version{
  // display: inline-block;
  // position: absolute;
  // top:0;
  // right:0;
  // bottom:0;
  // width:120px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  // background:black;
  // color:white;
  padding:2px;
}