@import '../../../static/styles/variables';

.container{
  width:100vw;
  height:100vh;
  overflow:hidden;
  //background: url('./geometric-tile.png') fixed center;
  background:black;

  display: grid;
  grid:
    ' icon header '
    ' icon nav '
    ' main main '
    ;
  grid-template-columns: 140px auto;
  grid-template-rows: 90px 40px 9fr;
  grid-gap: 10px;
  padding:10px;
  box-sizing: border-box;

  font-family:$MainFontRegular;
}

  .iconContainer{
    position: relative;
    grid-area: icon;
    background:orange;
  }

  header{
    position: relative;
    grid-area: header;
    background:white;
    padding-left:15px;

    >img {
      position: absolute;
      top:0;
      right:0;
      height:100%;
    }
  }

  nav{
    position: relative;
    grid-area: nav;
    background:white;
  }

  main{
    position: relative;
    grid-area: main;
    background:white;
    overflow: hidden;
    overflow-y:auto;
  }


