pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin:0;
  padding:0;
  font-family: monospace;
}

pre > code {
  font-family: "Lucida Console", Monaco, Courier, 'New Courier', monospace;
  font-size: 14px;
  margin:0;
  padding:0;
  color:#bdbdbd;
  letter-spacing: 1px;
}

.codeContainer {
  margin: 12px;
  padding: 6px 12px;
  box-shadow: -6px 0 0 0px #696969;
  background: #2b2b2b;
}
