.documentationPageContainer{
  position: relative;
  height:100%;
  display: grid;
  grid:
    ' aside content content'
    ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding:0px;
  box-sizing: border-box;

  background: black;
}
.asideSection{
  position: relative;
  grid-area: aside;
  background:orange;
  margin:0;
  padding:0px 15px;
  
  > h1 {
    margin-top:15px;
    font-size: 65px;
    padding-bottom:15px;
    border-bottom: 5px solid black;

    > span {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      color: orange;
      text-align: center;
      z-index: 20;
      margin-right: 10px;
      font-size: 80px;
      line-height: 100px;
      transform:scale(0.7);

      &:after{
        display: inline-block;
        content:'';
        position: absolute;
        top:6px;
        left:6px;
        bottom:6px;
        right:6px;
        background:black;
        z-index: -1;
        transform:rotate(45deg);
        // width:100%;
        // height:100%;
      }
    }
  }
  > p {
    padding:15px 15px 0 15px;
    margin:15px;
  }
}
.contentSection{
  position: relative;
  grid-area: content;
  background:white;
  margin:0;
  padding:15px 30px;

  overflow: hidden;
  overflow-y: auto;
}


.articleMenu{
  position: relative;
  margin:36px 20% 16px 20%;
  li {
    font-size:25px; 
  }

  .articleSubmenu{

  }
}