@import "../../../../static/styles/variables";

.sideMenuContainer{
  position:fixed;
  top:60px;
  bottom:0;
  left:0;
  width:0;
  z-index: 900;

}

.sideMenuContainer{

  // nav classname
  .articleNav{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:0;
    display:inline-block;
    box-sizing: border-box;
    padding:0;
    background: white;
    box-shadow: 0 0 30px rgba(0,0,0,.3), inset -14px 0px 10px -10px rgba(0, 0, 0, 0.09);
    border-right: 1px solid #b9b9b9;
    transition:width 0.4s 0.4s cubic-bezier(0.74, -0.01, 0.24, 1.01);

    .toggleButton{
      position: absolute;
      top: 0;
      right:-34px;
      width:52px;
      height:52px;
      display: inline-block;
      z-index: 500;
      border-radius:50%;
      text-align: center;
      background: white;
      margin-top:12px;
      border-top: 1px solid rgba(160, 160, 160, 0.17);
      border-right: 1px solid rgba(160, 160, 160, 0.07);
      -ms-transform: rotate(40deg); /* IE 9 */
      -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
      transform: rotate(40deg);
      box-shadow: 8px 0 10px -5px rgba(0,0,0,0.4);

      .toggleButtonSymbol{
        position: absolute;
        top: 0;
        right:0;
        display:block;
        width:40px;
        height:40px;
        font-size: 24px;
        line-height: 40px;
        margin: 6px;
        overflow: hidden;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor:pointer;

        transition:transform 0.4s cubic-bezier(0.74, -0.01, 0.24, 1.01);
        -ms-transform: rotate(-40deg); /* IE 9 */
        -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
        transform: rotate(-40deg);

        //&:hover{
        //
        //  &:before{
        //    transition:background 0.2s cubic-bezier(0.74, -0.01, 0.24, 1.01);
        //    background:$primaryColourLighter;
        //  }
        //}

        &:before{
          position: absolute;
          top:3px;
          right:3px;
          bottom:3px;
          left:3px;
          display:block;
          content:'';
          border-radius: 50%;
          z-index: -1;

          transition:background 0.4s cubic-bezier(0.74, -0.01, 0.24, 1.01);
          background:$primaryColour;
        }

      }
    }

    .articleMenu{
      position:absolute;
      top:0;
      right:0;
      margin:16px 22px 16px 16px;
      width:220px;
      //hack to stop aliasing bug in chrome
      -ms-transform: rotate(0.00001deg); /* IE 9 */
      -webkit-transform: rotate(0.00001deg); /* Chrome, Safari, Opera */
      transform: rotate(0.00001deg);

      .articleSubmenu{

      }
    }

    &.open{
      transition:width 0.4s cubic-bezier(0.74, -0.01, 0.24, 1.01);
      width:258px;

      .toggleButton{

        .toggleButtonSymbol{
          transition:transform 0.4s 0.4s cubic-bezier(0.74, -0.01, 0.24, 1.01);

          -ms-transform: rotate(-220deg); /* IE 9 */
          -webkit-transform: rotate(-220deg); /* Chrome, Safari, Opera */
          transform: rotate(-220deg);

          &:before{
            transition:background 0.4s 0.4s cubic-bezier(0.74, -0.01, 0.24, 1.01);
            background:$primaryColour;
          }
        }
      }

      .articleMenu{
      }

      //WHEN OPEN and HOVERING
      &.hovering{
        transition:width 0.4s cubic-bezier(0.74, -0.01, 0.24, 1.01);
        width:258px;
      }
    }

    &.inactive{

      .toggleButton{
        .toggleButtonSymbol{
          &:before{
            transition:background 0.2s cubic-bezier(0.74, -0.01, 0.24, 1.01);
            background: #e5e5e5;
          }
        }
      }

      //WHEN INACTIVE and HOVERING
      &.hovering{
        transition:width 0.2s cubic-bezier(0.74, -0.01, 0.24, 1.01);
        width:20px;

        .toggleButton{
          .toggleButtonSymbol{
            &:before{
              transition:background 0.2s cubic-bezier(0.74, -0.01, 0.24, 1.01);
              background: #e5e5e5;
            }

            &:hover{

              &:before{
                transition:background 0.2s cubic-bezier(0.74, -0.01, 0.24, 1.01);
                background:$primaryColourLighter;
              }
            }
          }
        }
      }
    }

    //WHEN JUST HOVERING
    &.hovering{
      .toggleButton{
        .toggleButtonSymbol{
          &:hover{

            &:before{
              transition:background 0.2s cubic-bezier(0.74, -0.01, 0.24, 1.01);
              background:$primaryColourLighter;
            }
          }
        }
      }
    }


  }
}
