@import "../../../static/styles/variables";

.absErrorContainer{
  position: absolute;
  right:0;
  bottom:0;
  left:0;
  overflow:visible;
}
.relErrorContainer{
  width:auto;
  margin:0 30px;
  display:block;
  min-height: 30px;
  background: black;
  min-width:150px;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.6), 0 0 10px 0 rgba(0,0,0,0.6);
  text-align: center;
  animation: bounceIn 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}


.flashBox{
  position: relative;
  width:100%;
  box-sizing: border-box;
  padding:20px 40px;
  text-align: center;
  box-shadow: inset 0 0 0 10px red;
  animation: flash 1.2s linear 6;

  p{
    color:red;
    font-family: "System Regular", monospace, Consolas, Menlo, Courier, "Lucida Console", Monaco;
    font-size:15px;
  }
}

pre.errorDetails{
  color:red;
  background:black;
  word-wrap: normal;
  font-size:12px;
  margin:0 auto;
  padding-bottom:30px;
  display: inline-block;
  width: auto;
  text-align: left;
}

@keyframes flash {
  0%   {
    box-shadow: inset 0 0 0 10px red;
  }
  50%  {
    box-shadow: inset 0 0 0 10px red;
  }
  50.1%  {
    box-shadow: inset 0 0 0 10px black;
  }
  100% {
    box-shadow: inset 0 0 0 10px black;
  }
}
@keyframes bounceIn {

  0%   {
    transform:translateY(100%)
  }
  100% {
    transform:translateY(0)
  }
}
