@import "../../../../static/styles/variables";

.inputContainer{
  display: inline-block;
  position: relative;

  &.denoteError{
    //change form field border to red when failing validation
    .formSubmitInput {
      box-shadow: 0 0 0 5px $hasError;
    }
  }

}
.label{
  font-size:12px;
  margin: 0px 0px -5px 12px;
  display: block;
}
.formSubmitInput{
  min-height:35px;
  min-width: 70px;
  border-radius: 4px;
  border: 1px solid $midGrey;
  font-family:$MainFontBold;
  font-size:15px;
  box-shadow: 0 0 0 5px $midGrey;
  margin:12px;
  background: $midGrey;
  color:white;
  cursor:pointer;
  outline:none;
  letter-spacing: 1px;

  &:hover{
    color:black;
    background: $primaryColour;
    box-shadow: 0 0 0 5px $primaryColour;
    border: 1px solid $primaryColour;
  }
  &:active{
    color:black;
    background: $primaryColourLighter;
    box-shadow: 0 0 0 5px $primaryColourLighter;
    border: 1px solid $primaryColourLighter;
  }
}
.errorMessage{
  position: absolute;
  top: 71px;
  right: 0;
  z-index: 1000;
  margin: -7px 14px 6px 14px;
  padding: 3px 6px;
  background: $hasError;
  font-size: 12px;
  line-height: 17px;
  color: white;
  border-radius: 0 0 4px 4px;
  text-align: right;
}
