@import '../variables';

a{
  cursor:pointer;
  color:black;

  &:hover{
    color:$primaryColour;
  }
  &:active{
    color:black;
  }
  &:visited{
    color:black;
  }
  &:link{
    font-family: $MainFontBold;
  }
}


/* -= TABLES =- */
table{
  //width:100%;
  //background: $darkGrey;
  //border-collapse: initial;
  //border-spacing: 2px;
  //margin:8px 0;
  //border-radius: 4px;
  background: $midGrey;
  border-collapse: initial;
  border-spacing: 1px;
  margin: 8px 12px;
  border-radius: 2px;
  box-shadow: 0 0 0 5px $midGrey;
  width:calc(100% - 24px);

  thead {
    tr {
      th {
        text-align: left !important;
        font-family: $MainFontLight;
        line-height: 20px;
        font-size: 13px;
        background: $lighterMidGrey;
        color:$lightestGrey;
        padding:6px 4px;

        &:first-child{
          border-radius:2px 0 0 0;
        }
        &:last-child{
          border-radius: 0 2px 0 0;
        }
      }
    }
  }
  tbody{
    tr{
      &:nth-child(odd){
        td{
          background: $whiteGrey;
        }
      }
      &:nth-child(even){
        td{
          background: $lightestGrey;
        }
      }
      &:hover td{
        background:white;
      }


      td{
        font-family: $MainFontRegular;
        color:$darkGrey;
        padding: 1px 5px 1px 5px;
        font-size: 15px;
        word-break: break-word;
      }

      //Round off the border of the last row in the table
      &:last-child{
        td{
          &:first-child{
            border-radius:0 0 0 2px ;
          }
          &:last-child{
            border-radius: 0 0 2px 0;
          }
        }
      }
    }
  }
}

/* -= Lists =- */
ul, ol{
  margin: 8px 0 8px 0;
  padding: 0;
}
li {
  font-family: "AvertaRegular", Helvetica, Arial,  sans-serif;
  color: #1a1a1a;
  font-size:17px;
  line-height: 125%;
}


ul > li{
  list-style-type:square;
  margin-left: 24px;
}


ol {
  list-style: none;
}
ol > li {
  counter-increment: item;
  margin-bottom: 8px;
  margin-left: 4px;
}
ol > li:before {
  margin-top: 2px;
  margin-right: 8px;
  content: counter(item);
  background: black;
  border-radius: 50%;
  color: $primaryColour;
  width: 25px;
  height:25px;
  line-height:25px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  font-size:21px;
  font-family:"AvertaBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}
// Lists that are children of lists
li > ol,
li > ul{
  margin-left:35px;
}

/* Drag Selection Styling */
::selection {
  background: transparentize($primaryColour, .5); /* WebKit/Blink Browsers */
}



/* MEDIA QUERIES */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  ul > li{
    margin-left: 18px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  li {
    font-size:14px;
  }
  ul > li{
    margin-left: 18px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  li {
    font-size:12px;
  }
  ul > li{
    margin-left: 18px;
  }
}
