$xsize: 8px;
$xforeground-color: rgba(0,0,0,0.5);
$xbackground-color:  rgba(255,255,255,0);

::-webkit-scrollbar {
  width:  $xsize;
  height: $xsize;
}

::-webkit-scrollbar-thumb {
  background: $xforeground-color;
  border-radius: 0px;
  border:2px solid $xbackground-color;
  border: 1px solid rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
  background: $xbackground-color;
  border-radius: 0px;
  border: 1px solid rgba(0,0,0,0);
}

// For Internet Explorer
body {
  scrollbar-face-color: $xforeground-color;
  scrollbar-track-color: $xbackground-color;
}
