@import "../../../../static/styles/_variables";
.dropdownContainer{
  display:inline-block;
  width: 100%;
  position: relative;

  &.denoteError{
    //change form field border to red when failing validation
    .formSelectDropdown {
      box-shadow: 0 0 0 5px $hasError;
    }
  }
}
.label{
  font-size:12px;
  margin: 0px 0px -5px 12px;
  display: block;
}



.selectWrapper{
  position: relative;
  cursor: pointer;

  &:after{
    position: absolute;
    top: 20px;
    right: 20px;
    content: '\25BC';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 12px;
    pointer:cursor;
    pointer-events: none;
    background: black;
    color: $primaryColour;
  }

  &:hover{
    &:after{
      background: $primaryColour;
      color: black;
    }
  }
}

//.field{
//  height:40px;
//  position: relative;
//}
.formSelectDropdown {
  border-radius: 4px;
  border: 1px solid $midGrey;
  height:35px;
  padding-left:8px;
  font-size:15px;
  font-family:$MainFontRegular;

  -webkit-appearance:none;
  outline:none;
  box-shadow: 0 0 0 5px $midGrey;
  //background:url('./images/selectInputArrow.png') center right no-repeat;
  padding-right:30px;
  //TODO: FULL WIDTH FORM FIELDS - needs relative parent
  margin: 12px;
  width: calc(100% - 24px);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.formSelectDropdown:focus {
  box-shadow: 0 0 0 5px $primaryColour;
  //background:url('./images/selectInputArrowFocus.png') center right no-repeat;
}

.option{
}


.errorMessage{
  position: absolute;
  top: 71px;
  right: 0;
  z-index: 1000;
  margin: -7px 14px 6px 14px;
  padding: 3px 6px;
  background: red;
  font-size: 12px;
  line-height: 17px;
  color: white;
  border-radius: 0 0 4px 4px;
  text-align: right;
}
//animation:errorTransition 0.5s linear;
//@keyframes errorTransition {
//  0%   { max-height: 0; }
//  100% { max-height: auto; }
//}
