.featuresWidgetContainer{
  background: #323232;
  display: inline-block;
  padding:20px;
  //border-radius: 25px;
  //margin-top: 30px;
  height: calc(100% - 40px);
  overflow: hidden;
  overflow-y:auto;
}
.tabRow{
  width:calc(100% - 20px) !important;
  margin:0 auto;
}
.tabCell{
  display: inline-block;
  position: relative;
  width: 25%;
  margin:6px auto 0 auto;
  cursor:pointer;

  &.heroSelected{
    .heroFeatureTab{
      background: white;
      width:80%;
      margin:10%;
      transition:all 0.2s ease-in-out;
      //box-shadow: inset 0px 0px 10px -10px rgba(0,0,0,0.4), 0 0 25px 5px rgba(255,255,255,0.5);
      box-shadow:   0 0 0 10px #323232, 0 0 0 20px orange;
      filter: grayscale(0%);

      &:hover{
        background: white;
        width:80%;
        margin:10%;
        transition:all 0.2s ease-in-out;
        //box-shadow: inset 0px 0px 10px -10px rgba(0,0,0,0.4), 0 0 25px 5px rgba(255,255,255,0.5);
        box-shadow:   0 0 0 10px #323232, 0 0 0 20px orange;
        filter: grayscale(0%);
      }
    }
  }


  .heroFeatureTab{
    display:inline-block;
    width:80%;
    margin:10%;
    transition:all 0.2s ease-in-out;
    //border-radius:5% 5% 0 0;
    background: rgba(163, 163, 163, 0.6);
    vertical-align: bottom;
    box-shadow:   0 0 0 20px #323232, 0 0 0 20px orange;
    filter: grayscale(100%);

    &:hover{
      background: white;
      width:80%;
      margin:10%;
      transition:all 0.2s ease-in-out;
      box-shadow:   0 0 0 15px #323232, 0 0 0 20px orange;
      filter: grayscale(0%);
    }
  }


}


.contentRow{
  background: white;
  margin: 0;
  width: auto !important;
  min-height: 350px;
  overflow: hidden;
  overflow-y: auto;
  //border-radius: 1px;
  //box-shadow: 0 0 0 10px white;
  
  h5{
    // position: absolute;
    // top:0;
    // right:0;
    // left:0;
    margin:0;
    padding: 5px 15px;
    font-size: 30px;
    background: orange;
    border-bottom: 10px solid #555555;
    margin-bottom:25px;
    width: auto;
  }
  p {
    margin:0 60px 10px 30px;
  }
}
