@import "../../../../static/styles/variables";

.masterContainer{
  display: inline-block;
  position: relative;
  padding: 0 7px;
}
.label{
  font-size:12px;
  margin: 0px 7px 0px 7px;
  display: block;
  text-align: center;
}

.switchContainer{
  display: inline-block;
  position: relative;
  //background:$darkGrey;
  border-radius:4px;

  //Input Checkbox Element
  .switchCheckBox{
    height:47px;
    width:73px;
    z-index: 1000;
    cursor: pointer;

    &:empty{
      opacity:0;
    }
    &:checked{
    }
  }

  //Graphics of switch
  .switchGraphics {
    //Background graphics of switch
    &:before {
      display: inline-block;
      content: '';
      position: absolute;
      top: 10px;
      right: 8px;
      bottom: 13px;
      left: 8px;
      pointer-events: none;
      border-radius: 16px;
      border: 1px solid #696969;
      background: $lightGrey;
      box-shadow: 0 0 0 8px $midGrey, inset 0px 4px 2px rgba(0,0,0,0.1);
      //opacity: 0.5;
      transition: all 0.2s linear;
    }

    //Foreground graphics of switch (circle)
    &:after {
      display: inline-block;
      content: '\25C2\25B8'; //  ◂▸
      line-height: 35px;
      text-align: center;
      letter-spacing: 1px;
      color:$lighterGrey;
      position: absolute;
      top: 5px;
      left: 3px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 4px 4px 1px rgba(0,0,0,0.2);
      background: radial-gradient(ellipse at center, white 35%, #d3d3d3 92%);
      //opacity: 0.5;
      transition: all 0.2s linear;
    }
  }

  //Changes when switch is in the checked/on/true state.
  .switchCheckBox:checked ~ .switchGraphics{
    &:before {
      border: 1px solid $primaryColour;
      box-shadow: 0 0 0 8px $primaryColour, inset 0px 4px 2px rgba(0,0,0,0.07);
      background: $primaryColourDarker;
    }
    &:after {
      left: 35px;
      background: radial-gradient(ellipse at center, white 35%, #dcdcdc 92%);

    }
  }
}

// Dont think this applies in this case TBH
// If it does, make it a speech bubble style jobbie
//
//.errorMessage{
//  position: absolute;
//  top: 71px;
//  right: 0;
//  z-index: 1000;
//  margin: -7px 14px 6px 14px;
//  padding: 3px 6px;
//  background: red;
//  font-size: 12px;
//  line-height: 17px;
//  color: white;
//  border-radius: 0 0 4px 4px;
//  text-align: right;
//}
